body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#metronome {
    background: linear-gradient(#b1b1b1, #808080); 
    padding: 1em;
    margin:2em;
    border-radius: 2em;
    text-align: center;
    position: relative;
    border: 2px solid black;
    box-shadow: rgba(0,0,0,0.5) 10px 10px 10px;
}

.bpm-change {
    font-size: 1.5em;
}

.bpm-change:hover {
    box-shadow: white 0 0 10px 10px;
}

#btnDecreaseBPM {
    background-color: red;
}

#btnIncreaseBPM {
    background-color: green;
}

input {
    border-radius: 1em;
    padding: 1em;
    margin: 0.2em;
    text-align: center;
}

#logo {
    width: 4em;
    border-radius: 50%;
    position: absolute;
    right: 1em;
    bottom: 1em;
    opacity: 0.5;
}

#txtBPM {
    font-size:2em;
    width:50vw;
    padding: 1em 0;
}